<a href="https://colab.research.google.com/github/manusmtp/100daysofpyth/blob/main/man1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
create a list within dict example in python

SyntaxError: invalid syntax (<ipython-input-1-f8e43e54d273>, line 1)

In [2]:
# prompt: create python program with list within dict

my_dict = {
    "name": "John Doe",
    "age": 30,
    "cities_visited": ["New York", "London", "Paris"]
}

print(my_dict)
print(my_dict["cities_visited"])

{'name': 'John Doe', 'age': 30, 'cities_visited': ['New York', 'London', 'Paris']}
['New York', 'London', 'Paris']